

#container
{
    margin-top     : 100px;
    margin-left    : 200px;
}

table
{
    border-collapse : collapse;
    margin          : 0 auto;
}

tr td,
tr th
{
    padding         :  5px 10px;
    border          : 1px solid blue;
}