<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="SimpleBinding.AccessibleDescription" value="(None)" />
    <add key="SimpleBinding.AccessibleName" value="(None)" />
    <add key="SimpleBinding.AllowDrop" value="False" />
    <add key="SimpleBinding.AutoScale" value="True" />
    <add key="SimpleBinding.AutoScroll" value="False" />
    <add key="SimpleBinding.CausesValidation" value="True" />
    <add key="SimpleBinding.ControlBox" value="True" />
    <add key="SimpleBinding.Enabled" value="True" />
    <add key="SimpleBinding.HelpButton" value="False" />
    <add key="SimpleBinding.IsMdiContainer" value="False" />
    <add key="SimpleBinding.KeyPreview" value="False" />
    <add key="SimpleBinding.MaximizeBox" value="True" />
    <add key="SimpleBinding.MinimizeBox" value="True" />
    <add key="SimpleBinding.Opacity" value="1" />
    <add key="SimpleBinding.ShowInTaskbar" value="True" />
    <add key="SimpleBinding.Text" value="Customer Details" />
    <add key="SimpleBinding.TopMost" value="False" />
  </appSettings>
</configuration>